.trans-container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  max-height: 150px;
}

.trans-content {
  width: 100%;
  height: 15%;
  margin-bottom: 10px;
  margin-top: 10px;
  /* padding: 5px 5px 20px 5px; */
  letter-spacing: 0.01em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.trans-details {
  /* margin-bottom: 44px;
  padding-top: 40px;
  padding-bottom: 20px; */
  margin: 0 auto;
  text-align: left;
}

.trans-avatar-circle {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  /* line-height: 30px; */
}

.trans-avatar-circle > * {
  line-height: 60px;
  font-size: 25px;
  position: relative !important;
  left: 0 !important;
}

/* .trans-summary {
  text-align: left;
  padding-top: 20px;
} */

@media (min-width: 576px) {
  .trans-details {
    text-align: left;
    display: table;
  }

  .trans-avatar,
  .trans-summary {
    float: left;
    text-align: left;
  }

  /* .trans-summary {
    padding-top: 0;
    padding-left: 40px;
    width: calc(100% - 120px);
  } */
}

.trans-summary .full-name {
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.trans-summary .username {
  font-size: 20px;
}

.trans-summary .trans-joined {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .trans-summary {
    font-size: 5px;
  }
}
